.App {
  text-align: center;
  display: initial;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

canvas {
  position: absolute;
  width: 100%;
  height: 78%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

body {
  background: linear-gradient(#11100E  0%, #3F86E4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
